<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>http://wap.dl.pinyin.sogou.com/wapdl/hole/201409/18/201409182013423097_SogouInputEnterpriseRelease-1.0.1-58718-20140918.ipa</string>
                    </dict>
                    <dict>
                        <key>kind</key>
                        <string>display-image</string>
                        <key>needs-shine</key>
                        <true/>
                        <key>url</key>
                        <string>http://shouji.sogou.com/sapp/ios8install/images/logo.png</string>
                    </dict>
                    <dict>
                        <key>kind</key>
                        <string>full-size-image</string>
                        <key>needs-shine</key>
                        <true/>
                        <key>url</key>
                        <string>http://shouji.sogou.com/sapp/ios8install/images/logo.png</string>
                    </dict>
                </array><key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <string>com.sogou.sogouinputinhouse</string>
                    <key>bundle-version</key>
                    <string>1.0.1</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>subtitle</key>
                    <string>搜狗输入法</string>
                    <key>title</key>
                    <string>搜狗输入法</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
